* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  background-color: #003797;
  color: #ffffff;
  padding: 0 1rem;
  font-size: 13px;
}
body {
  background-color: #e4e4e4;
}
.container {
  max-width: 90% !important;
  margin: 0 auto !important;
}

header {
  height: 80px;
  width: 100vw;
  background-color: #3a0000;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
header .container #logo {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
header .container #input__find {
  display: flex;
}
header .container #input__find input {
  color: #55555a;
  font-size: 1rem;
  height: 35px;
  width: 500px;
  border-radius: 4px 0 0 4px;
  padding: 10px 0 10px 10px;
  border: 1px solid transparent;
}
header .container #input__find button {
  background-color: #fff;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-left: -1px;
  height: 35px;
  padding: 0px 10px 0px 10px;
  border: 1px solid transparent;
}
header .container #dark-light {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}

#List_Product {
  padding-top: 50px;
}
#List_Product .container {
  display: flex;
  height: 100%;
}
#List_Product .container #list__menu {
  text-align: center;
  align-items: center;
  width: 15%;
  background-color: white;
  border-radius: 6px;
  height: 100%;
}
#List_Product .container #list__menu h3 {
  font-size: 30px;
  padding-top: 20px;
  font-weight: bold;
}
#List_Product .container #list__menu ul {
  text-align: left;
  padding-left: 30px;
}
#List_Product .container #list__menu li {
  margin: 10px;
}
#List_Product .container #list__menu li a {
  transition: all 0.3s;
}
#List_Product .container #list__menu li a:hover {
  color: rgba(212, 212, 212, 0.389);
}
#List_Product .container #list__product {
  flex: 2;
}
.list__product {
  width: 75%;
  background-color: #fff;
  border-radius: 6px;
  margin: 0 0 0 10px;
}
.list__product h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}
.list__product h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 3px;
  background-color: #526380;
}
#selectProduct {
  width: 80%;
  margin: 15px 0;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}
#display__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 30px;
}
#display__products .product {
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  transition: all 0.2s;
  overflow: hidden;
}
#display__products .product:hover {
  transform: translateY(-10px);
}
.content__product h4 {
  padding: 10px;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  color: #3e3e41;
}
.content__product p {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 93, 93);
  font-weight: 700;
}

.des__container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.des-img {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
}

.des-img img {
  padding: 50px;
  overflow: hidden;
  width: 100%;
  transition: 0.3s all;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.des-img img:hover {
  padding: 20px;
}
.des-content {
  background-color: white;
  grid-column: 2 / span 2;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.des-content h3 {
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 50px;
  font-weight: 700;
  position: relative;
}
.des-content h3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #afc9f5;
}

.des-detail {
  padding: 20px 20px 20px 50px;
}

.des-price {
  font-size: 45px;
  color: rgb(248, 101, 101);
  font-weight: 650;
}
.des-detail p {
  padding: 5px 0;
  font-size: 20px;
}
.des-detail span {
  font-size: 22px;
  font-weight: 600;
}

.btn-addProduct {
  color: rgb(206, 204, 204);
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background-color: #6b9df3;
  margin-top: 20px;
  border-radius: 6px;
  padding: 5px 50px;
}
